<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/gabarieStyle.css}"/>
    <title>Nouvel Individu</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark">
<header>
    <div class="navBarre">
        <p class="logo">
            <img th:src="@{/images/logo.png}" alt="Logo"/><br>
            <span class="spanBlanc">Solidariter</span>
            <span class="spanVert">Communautaire</span>
        </p>
        <div class="navigation">
            <a th:href="@{/index}"><h5>Accueil</h5></a>
            <a th:href="@{/associations}"><h5>Associations</h5></a>
            <a th:href="@{/projets}"><h5>Projets</h5></a>
            <a th:href="@{/inscription}"><h5>Pas Encore Inscrit ?</h5></a>
            <a th:href="@{'/individu/'+${session.id}}"><h5>Individu</h5></a>
            <a href=""><h5>Organisateurs</h5></a>
        </div>
        <span th:if="${session}!=null" class="text-white text-center">
            [[${session['prenom']}]]     [[${session['nom']}]]
        </span>
        <a class="connection"  th:href="@{/connexion}">
            <img  th:src="@{/images/iconeConnexion.png}" alt="Icone Connexion"/>
            <h5>Connexion</h5>
        </a>
        <a class="deconnection" th:href="@{/deconnexion}">
            <h5>Deconnexion</h5>
            <img  th:src="@{/images/iconeConnexion.png}" alt="Icone Deconnexion"/>
        </a>
    </div>
</header>
<main>
    <h2 class="titrePrincipale">Choisisez votre type de connexion ?</h2>
    <div class="choixType">
        <a th:href="@{/connexion_individu}"><h3>Un individu solidaire</h3></a>
        <a th:href="@{/connexion_association}"><h3>Une association</h3></a>
    </div>
</main>
<footer class="footer">
    <div class="titreFoot">
        <h2>
            <span class="titreBlanc">Solidariter</span>
            <span class="titreVert">Communautaire</span>
        </h2>
    </div><br>
    <div class="coordonnees">
        <div>
            <h6>Ensemble pour un avenir solidaire</h6>
        </div>
        <div>
            <img src="/images/messagefill.png"/><h6>solidariter-communautaire@gmail.com</h6>
        </div>
        <div>
            <img src="/images/phonefill.png"/><h6>+1 514-376-1620</h6>
        </div>
        <div>
            <img src="/images/pinfill.png"/><h6>16e Avenue, Montréal, QC</h6>
        </div>
    </div><br>

    <div class="droitsReserves"><h5>Tous droits réservés © 2024 Solidarité Communautaire - Contribuons ensemble à un
        monde plus solidaire.</h5></div>
</footer>

</body>
</html>